@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --pink-color: #f2726a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.card {
    width: 300px;
    height: 380px;
    background: #242628;
    text-align: center;
    border-radius: 10px;
    margin: 0px 30px;
    overflow: hidden;
}

.img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: 0px auto;
    border-radius: 50%;
    border: 4px solid var(--pink-color);
    transform: translateY(25px);
    transition: 0.25s;
}

.img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: unset;
    transform: unset;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

h3 {
    color: white;
    font-size: 20px;
    margin-top: 35px;
}

.profile {
    color: var(--pink-color);
    margin-top: 1px;
}

.follow a {
    text-decoration: none;
    color: white;
    margin: 25px 20px 40px;
    display: inline-block;
    font-size: 25px;
    transition: 0.25s;
}

.follow a:hover {
    color: var(--pink-color);
}

button {
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--pink-color);
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: var(--pink-color);
}